.item-detail-container {
  padding: 30px 200px;
}
.content-container {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  gap: 10px;
}
.left-layout img {
  max-width: 400px;
  border-radius: 10%;
}
.right-layout {
  padding: 0 20px;
}
.recipe-lists {
  display: flex;
}
.recipe-lists ul {
  margin: 0;
}
.ingredient-list {
  list-style-type: none;
  padding-left: 20px;
}
.measure-list li,
.ingredient-list li {
  margin-bottom: 3px;
}
.area {
  font-weight: 600;
  color: brown;
}

@media screen and (max-width: 768px) {
  .item-detail-container {
    padding: 30px 20px;
  }
  .top {
    flex-direction: column;
  }
  .left-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
