.home-container {
  padding: 30px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container h2 {
  margin-bottom: 50px;
  text-align: center;
}
.recommended-container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
}
.detail-item {
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recommended-container {
    max-width: 200px;
  }
}
