/* global styles here */
@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);

*,
::before,
::after {
  box-sizing: border-box;

  font-family: 'Kumbh Sans', sans-serif;
}

html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}
